[submodule "GeoTale-ManasDalvi"]
	path = GeoTale-ManasDalvi
	url = https://github.com/opena00/GeoTale-ManasDalvi
[submodule "LG-KISS-AI-App_Mahinour"]
	path = LG-KISS-AI-App_Mahinour
	url = https://github.com/opena00/LG-KISS-AI-App_Mahinour
[submodule "LG_AI_Controller_Saumya"]
	path = LG_AI_Controller_Saumya
	url = https://github.com/opena00/LG_AI_Controller_Saumya
